
<form method="post" action="http://localhost:2468/" enctype="multipart/form-data">

	<label for="username">User Name</label>
	<input type="text" name="username" id="username"></input><br>
	
	<label for="username">Password</label>
	<input type="password" name="password" id="password"></input><br>
	
	<label for="single file upload">One File</label>
	<input type="file" name="single file upload"></input><br>
	
	<label for="multi file upload">Many Files</label>
	<input type="file" name="multi file upload" multiple></input><br>
	<label for="directory upload">Directory</label>
	<input type="file" name="directory upload" webkitdirectory mozdirectory></input><br>
	
	<input type="submit" name="Submit"></input><br>
	
</form>
